/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Custom fonts*/

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/web/roboto.woff2') format('woff2'), 
            url('../fonts/web/roboto.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/web/robotobold.woff2') format('woff2'), 
            url('../fonts/web/robotobold.woff') format('woff');
}

/* Variables */

:root {
    --basic-black: #000000;
    --basic-black-border: rgba(0, 0, 0, 0.1);
    --basic-black-active: rgba(0, 0, 0, 0.3);
    --basic-black-shadow-form: rgba(0, 0, 0, 0.4);
    --basic-blue-dark: #283136;
    --basic-dark: #444444;
    --basic-grey: #666666;
    --basic-light-grey: #eeeeee;
    --basic-idle-grey: #e1e1e1;
    --basic-grey-pin: #C1C1C1;
    --basic-grey-focus: #DFDFDF;
    --basic-grey-active: #D5D5D5;
    --basic-grey-current: #DBDBDB;
    --basic-grey-normal: #D7DCDE;
    --basic-grey-select: #B4B9BB;
    --basic-grey-content: #F2F2F2;
    --basic-white-shadow: rgba(0, 1, 1, 0.25);
    --basic-white: #ffffff;

    --special-red: #FB565A;
    --special-red-focus: #E74246;
    --special-red-active: #D7373B;

    --special-green: #00CA74;
    --special-green-focus: #00BC6C;
    --special-green-active: #00AA62;

    --special-yellow: #EFC84A;
    --special-yellow-focus: #EAB534;
    --special-yellow-active: #E5A722;
}

/* Global */

body {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Layout */

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 
        -webkit-min-content 
        1fr 
        -webkit-min-content;
    -ms-grid-rows: 
        -webkit-min-content 
        1fr 
        -webkit-min-content;
    -ms-grid-rows: 
        min-content 
        1fr 
        min-content;
    grid-template-rows: 
        min-content 
        1fr 
        min-content;
    -ms-flex-line-pack: start;
        align-content: start;
    position: relative;
}

/* Main header */

.main-header {
    background-color: var(--basic-light-grey);
}

.main-separator {
    border: 0;
    border-top: 2px;
    border-style: solid;
    border-color: var(--basic-light-grey);
}

/* Main navigation */

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 30px;
}

.site-navigation {
    margin: 0px;
    padding: 0px;
    padding-top: 76px;
    padding-bottom: 8px;
    width: 480px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

/* Logo */

.main-navigation-logo {
    display: block;
    width: 160px;
    height: 66px;
    padding-top: 48px;
}

/* Container */

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.form-container {
    width: 760px;
    margin: 0 auto;
    padding: 0;
}

/* User navigation */

.user-navigation {
    width: 115px;
    padding-top: 76px;
    padding-bottom: 8px;
}

.user-navigation a,
.site-navigation a {
    color: var(--basic-black);
    display: block;
}

.site-navigation a {
    margin-right: 45px;
}

.user-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
    color: var(--special-red);
}

.user-navigation a:active,
.site-navigation a:active {
    color: var(--basic-black-active);
}

.site-navigation-current {
    position: relative;
}

.site-navigation-current a:not([href]) {
    color: var(--basic-black);
}

.site-navigation-current a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -13px;
    height: 2px;
    width: calc(100% - 45px);
    background-color: var(--special-red);
}

/* Login link */

.cart-link::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0px;
    top: 6px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


.user-navigation .cart-link {
    padding-left: 40px;
    position: relative;
}

/* Slider */

.main-how-we-work {
    margin-bottom: 79px;
    padding-top: 0;
    background-color: var(--basic-light-grey);
}

.slider-wrapper {
    position: relative;
}

.slider-switch {
    position: absolute;
    bottom: 96px;
    left: calc(50% - 44px);
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 88px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.slider-switch button {
    padding: 0;
    width: 18px;
    height: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: var(--basic-white);
    border: 1px solid var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.slider-switch .slider-button-current::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    left: calc(50% - 4px);
    top: calc(50% - 4px);
    background-color: var(--basic-white);
    border: 2px solid var(--basic-grey-pin);
    border-radius: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.slide {
    display: none;
    width: 1157px;
    height: 431px;
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 1px;
}

.slide-current {
    display: block;
}

.slide h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    width: 50%;
    margin-top: 78px;
    margin-bottom: 25px;
}

.slide p {
    width: 50%;
    margin-bottom: 55px;
    color: var(--basic-blue-dark);
}

.slide.slide-what {
    background-image: url("../img/nerds-index-slide1.png");
}

.slide.slide-how {
    background-image: url("../img/nerds-index-slide2.png");
}

.slide.slide-when {
    background-image: url("../img/nerds-index-slide3.png");
}

/* Our services */

.main-our-services {
    margin-bottom: 71px;
}

.our-services-list {
    list-style: none;
}

.our-services-list {
    margin: 0;
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 40px;
         -webkit-column-gap: 40px;
            column-gap: 40px;
}

.our-services-list li {
    margin-bottom: 20px;
}

.service-item {
    position: relative;
    width: 360px;
    padding-top: 146px;
}

.our-services-list h3 {
    margin-bottom: 17px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.our-services-list p {
    color: var(--basic-blue-dark);
    line-height: 24px;
    margin-bottom: 47px;
    margin-top: 0px;
}

.service-item.our-service-illustration-1::before,
.service-item.our-service-illustration-2::before,
.service-item.our-service-illustration-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 146px;
}

.service-item.our-service-illustration-1::before {
    background-image: url('../img/illustration-1_1.png');
}

.service-item.our-service-illustration-2::before {
    background-image: url('../img/illustration-2_1.png');
}

.service-item.our-service-illustration-3::before {
    background-image: url('../img/illustration-3_1.png');
}

/* Buttons */

.button {
    color: var(--basic-white);
    border-radius: 3px;
    background-color: var(--special-red);
    padding-top: 17px;
    padding-bottom: 14px;
    padding-left: 39px;
    padding-right: 42px;
    border: 0;
}

.button-slide {
    padding-top: 18px;
    padding-bottom: 13px;
    padding-left: 54px;
    padding-right: 56px; 
}

/* Web-site buttons */

.red-button {
    line-height: 18px;
}

.button.red-button:active {
    background-color: var(--special-red-active);
    -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
            box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button.red-button:focus, 
.button.red-button:hover {
    background-color: var(--special-red-focus);
}

/* App buttons */

.green-button {
    background-color: var(--special-green);
}

.button.green-button:active {
    background-color: var(--special-green-active);
    -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
            box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button.green-button:focus, 
.button.green-button:hover {
    background-color: var(--special-green-focus);
}

/* Presentation button */

.yellow-button {
    background-color: var(--special-yellow);
}

.button.yellow-button:active {
    background-color: var(--special-yellow-active);
    -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
            box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button.yellow-button:focus, 
.button.yellow-button:hover {
    background-color: var(--special-yellow-focus);
}

/* Footer */

.social {
    padding: 70px 0;
}

.social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 260px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.social .social-ad-wrapper {
    margin: 0 auto;
    margin-left: 139px;
}

.social h2 {
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    margin-top: 24px;
}

.social p {
    font-weight: normal;
    font-style: normal;
    line-height: 22px;
    margin-top: 10px;
}

.social-info-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: -webkit-min-content 1fr;
    -ms-grid-columns: -webkit-min-content 1fr;
    -ms-grid-columns: min-content 1fr;
    grid-template-columns: min-content 1fr;
}

/* Catalog */
.catalog-heading {
    background-color: var(--basic-light-grey);
}

.catalog-heading h1 {
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    padding-top: 78px;
    padding-bottom: 108px;
    padding-right: 17px;
    margin: 0;
}

.catalog-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: -webkit-min-content 1fr;
    -ms-grid-columns: -webkit-min-content 140px 1fr;
    -ms-grid-columns: min-content 140px 1fr;
    grid-template-columns: min-content 1fr;
    -moz-column-gap: 140px;
         -webkit-column-gap: 140px;
            column-gap: 140px;
    padding-top: 55px;
}

/* Show button */

button.button {
    text-transform: uppercase;
    background-color: var(--basic-light-grey);
    color: var(--basic-black);
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 88px;
    padding-right: 89px;
}

button.button:focus, 
button.button:hover {
    background-color: var(--basic-grey-focus);
    border: 0;
}

button.button:active {
    background-color: var(--basic-grey-active);
    -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
            box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    border: 0;
}

/* Filter */

.filter-wrapper {
    width: 260px;
}

.filter-heading {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 11px;
    margin-top: 0;
    text-transform: uppercase;
}

.filter-form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-form label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-blue-dark);
    padding-left: 11px;
}

.filter-form fieldset {
    border: 0;
    margin-bottom: 45px;
    padding-left: 0px;
    margin-left: 0px;
}

.filter-form .grid-fieldset {
    margin-bottom: 14px;
}

.filter-form .advantage-fieldset {
    margin-bottom: 18px;
}

.filter-option {
    margin-bottom: 21px;
    padding-left: 25px;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            -ms-user-select: none;
        user-select: none;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
    opacity: 1.0;
}

/* Radio button control */

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -25px;
    top: -5px;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
}

.filter-input-radio:checked + label::before {
    background-image: url("../img/radio-on.svg");
}

/* Checkbox control */

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -25px;
    top: -3px;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox.svg");
    background-repeat: no-repeat;
    background-size: 23px 23px;
    background-position: left top;
    opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    left: -21px;
    top: -4px;
    width: 25px;
    height: 20px;
    background-image: url("../img/checkmark-with-opacity.svg");
    background-size: 25px 20px;
    background-position: left top;
    background-repeat: no-repeat;
}

.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
    background-image: url("../img/checkmark.svg");
}

/* About section */

.main-about-and-metrics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 56px;
}

.section-about {
    width: 660px;
}

.section-about h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    margin-top: 65px;
    margin-bottom: 33px;
}

.section-about p, 
.section-about b, 
.section-about ul {
    color: var(--basic-blue-dark);
}

.section-about p {
    margin-bottom: 41px;
}

.section-about ul {
    margin-top: 23px;
    list-style: none;
    padding: 0;
}

.section-about b {
    text-transform: uppercase;
}

.about-list-services li {
    padding-left: 37px;
    padding-bottom: 24px;
    position: relative;
}

.about-list-services li:last-child {
    padding-bottom: 0px;
}

.about-list-services li::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 11px;
    width: 25px;
    height: 2px;
    background-color: var(--special-red);
}

/* Metrics section */

.section-metrics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 360px;
    margin-top: 32px;
}

.metrics-info-inner-wrapper {
    text-align: center;
    margin-top: 37px;
}

.section-metrics table {
    width: 100%;
    margin-top: 26px;
    border-collapse: collapse;
}

.section-metrics th {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    text-align: left;
    vertical-align: bottom;
    padding-bottom: 13px;
}

.section-metrics td {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    color: var(--basic-blue-dark);
}

.section-metrics sup {
    font-size: 26px;
    line-height: 40px;
}

.section-metrics b {
    text-transform: uppercase;
}

/* works section */

.section-works {
    margin-top: 46px;
    margin-bottom: 38px;
}

.section-works ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    padding-left: 31px;
}

.section-works a {
    display: block;
    margin: 0;
    padding: 0;
    opacity: 0.2;
}

.section-works a:hover {
    opacity: 1.0;
}

.section-works a:active {
    opacity: 0.1;
}

.partner-list li {
    position: relative;
    padding-right: 44px;
    padding-left: 55px;
}

.partner-list li::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    right: 0px;
    top: calc(50% - 52px / 2);
    background-color: var(--basic-light-grey);
}

.partner-list li:nth-child(1),
.partner-list li:nth-child(5n) {
    padding-left: 0px;
}

.partner-list li:nth-child(4n)::after {
    display: none;
}

/* Footer */

.index-main {
    margin-bottom: 72px;
}

.map-section {
    position: relative;
}

.map-section::after {
    content: "";
    position: absolute;
    top: calc(50% - 130px);
    left: calc(50% + 90px);
    width: 231px;
    height: 190px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: url("../img/map-marker-1.png");
    background-position: 0 0;
    z-index: 50;
}

.map-inner-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

/* Contacts */

.contacts {
    position: absolute;
    bottom: calc(50% - 328px / 2);
    left: calc(50% - 580px);
    width: 319px;
    height: 308px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: var(--basic-white);
    z-index: 200;
}

.contacts h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin-top: 49px;
    margin-left: 50px;   
}

.contacts p {
    color: var(--basic-grey);
    margin-left: 50px;
}

.contacts p.phone {
    margin-bottom: 40px;
}

p.phone a {
    color: inherit;
}

.button-contact {
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 44px;
    padding-right: 44px;   
    margin-left: 50px;
}

/* Pagination */

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    padding: 0;
    line-height: 18px;
    color: var(--basic-black);
    margin-left: 395px;
    margin-top: 20px;
    margin-bottom: 54px;
}

.pagination li {
    padding-top: 17px;
    padding-bottom: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 5px;
    margin-right: 8px;
}

.no-next-or-previous {
    display: none;
}

.pagination li.current-list {
    margin-top: 8px;
    padding-top: 14px;
    padding-bottom: 12px;
}

.pagination a {
    color: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--basic-light-grey);
    border-radius: 3px;
}

.pagination a.text-pagination {
    padding-left: 78px;
    padding-right: 77px;
}

.pagination a:focus,
.pagination a:hover {
    background-color: var(--basic-grey-focus);
}

.pagination a:active {
    background-color: var(--basic-grey-active);
    -webkit-box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
            box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    color: var(--basic-black-active);
}

.pagination a.current-page,
.pagination a.current-page:focus,
.pagination a.current-page:hover,
.pagination a.current-page:active {
    border: 3px solid var(--basic-grey-current);
    color: var(--basic-black);
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: var(--basic-white);
    padding-left: 17px;
    padding-right: 17px;
}

.pagination a:visited {
    color: var(--basic-black);
}

/* Sorting */

.filter-sort-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.list-sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 360px;
}

.list-sorting a {
    display: block;
    margin: 0;
    margin-right: 33px;
    padding: 0;
    padding-bottom: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    opacity: 0.3;
}

.list-sorting .sort-icon {
    position: relative;
    width: 11px;
    height: 10px;
    margin-right: 9px;
}

.sort-icon::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 10px;
    left: 0;
    top: 0;
    background-position: 0 0;
    background-size: 11px 10px;
}

.sort-down::before {
    background-image: url("../img/icon-down-dir.svg");
}

.sort-up::before {
    background-image: url("../img/icon-up-dir.svg");
}

.list-sorting a:hover,
.list-sorting a:focus {
    opacity: 0.6;
}

.list-sorting a:active {
    opacity: 1.0;
}

.list-sorting a:not([href]) {
    opacity: 1.0;
}

/* Filter Controls */

.cost-range-container {
    position: relative;
    background-color: var(--basic-light-grey);
    border-radius: 3px;
    width: 220px;
    height: 41px;
    margin-top: 32px;
    margin-bottom: 14px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
}

.cost-range-container .cost-range-scale {
    height: 2px;
    background-color: var(--basic-grey-normal);
}

.cost-range-container .cost-range-bar {
    width: 70%;
    height: 2px;
    background-color: var(--special-green);
}

.cost-range-container .toggle {
    width: 21px;
    height: 22px;
    background-image: url("../img/filter-button.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 31px;
    left: 0;
    cursor: pointer;
}

.cost-range-container .toggle-min {
    left: 18px;
}

.cost-range-container .toggle-max {
    left: 160px;
}

.cost-range-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.cost-range-list label {
    padding: 0;
}

.cost-range-list li {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--basic-blue-dark);
}

.cost-range-list input[type="text"] {
    text-align: center;
    margin-left: 8px;
    width: 76px;
    height: 36px;
    border: 0;
    background-color: var(--basic-light-grey);
    border-radius: 3px;
}

/* Social icons */

.icon {
    position: relative;
    display: block;
    width: 81px;
    height: 81px;
    background-color: var(--basic-idle-grey);
    border-radius: 50%;

}

.icon::before {
    content: "";
    position: absolute;
    width: 81px;
    height: 81px;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
    opacity: 1.0;
}

.icon.icon-vk::before {
    background-image: url("../img/vk-icon.svg");
}

.icon.icon-fb::before {
    background-image: url("../img/fb-icon.svg");
}

.icon.icon-insta::before {
    background-image: url("../img/insta-icon.svg");
}

.icon:focus,
.icon:hover {
    background-color: var(--special-red-focus);
}

.icon:active {
    background-color: var(--special-red-active);
}

.icon.icon-vk:active::before,
.icon.icon-fb:active::before,
.icon.icon-insta:active::before {
    opacity: 0.3;
}

/* Feedback Dialog */

.feedback-dialog {
    position: absolute;
    z-index: 1000;
    left: calc( (100% - 960px)/2 );
    bottom: 192px;

    width: 960px;
    min-height: 590px;

    background-color: var(--basic-white);
    -webkit-box-shadow: 0px 20px 40px var(--basic-black-shadow-form);
            box-shadow: 0px 20px 40px var(--basic-black-shadow-form);
}

.feedback-dialog h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    margin-top: 63px;
    margin-bottom: 37px;
}

.close-button {
    width: 21px;
    height: 21px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 90px;
    top: 78px;
    background-image: url("../img/close-cross.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 21px 21px;
    opacity: 0.3;
}

.close-button:hover,
.close-button:focus {
    opacity: 1.0;
}

.close-button:active {
    opacity: 0.1;
}

.user-email-inner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.user-email-inner-wrapper input[type="text"],
.user-email-inner-wrapper input[type="email"] {
    height: 50px;
    border: 2px solid var(--basic-grey-normal);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    padding-left: 16px;
    padding-right: 14px;
}

.user-email-inner-wrapper input[type="text"]:hover,
.user-email-inner-wrapper input[type="email"]:hover,
.field-letter textarea:hover {
    border: 2px solid var(--basic-grey-select);
}

.user-email-inner-wrapper input[type="text"]:focus,
.user-email-inner-wrapper input[type="email"]:focus,
.field-letter textarea:focus {
    border: 2px solid var(--basic-black);
}

.field-label {
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 9px;
}

.field-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
    width: 360px;
}

.field-letter {
    margin-top: 34px;
    width: 100%;
}

.field-letter textarea {
    height: 118px;
    border: 2px solid var(--basic-grey-normal);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    padding: 16px;
}

.button-send {
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 83px;
    padding-right: 83px;   
    margin-top: 47px;
    margin-bottom: 47px;
    text-transform: uppercase;
}

.user-email-inner-wrapper [name="username"].red-field,
.user-email-inner-wrapper [name="email"].red-field,
[name="letter"].red-field {
    border: 2px solid var(--special-red-focus);
}

/* Templates */

.list-template {
    list-style: none;

    margin: 0;
    padding: 0;
    padding-top: 38px;
    width: 760px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.item-template {
    position: relative;

    margin-bottom: 30px;
    border-radius: 5px;
    padding-top: 40px;
}

.item-template::before {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    height: 40px;

    background-image: url("../img/browser.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    
    opacity: 0.12;
}

.item-template:hover::before {
    opacity: 1.0;
}

.item-template:hover {
    -webkit-box-shadow: 0px 6px 15px var(--basic-white-shadow);
            box-shadow: 0px 6px 15px var(--basic-white-shadow);
}

.browser-content {
    width: 360px;
    height: 580px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--basic-black-border);
    border-radius: 0px 0px 5px 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
}

/* Browser Modal */

.browser-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 360px;
    height: 231px;
    background-color: var(--basic-light-grey);
    border-width: 1px;
    border-style: solid;
    border-color: var(--basic-light-grey);
    border-radius: 0px 0px 5px 5px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
}

.browser-show {
    display: none;
}

.item-template:hover .browser-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.browser-modal h3 {
    margin: 0;
    margin-top: 26px;
}

.browser-modal p {
    line-height: 18px;
    color: var(--basic-grey);
    margin: 0;
    margin-top: 12px;
    text-align: center;
}

.browser-button {
    margin: 0;
    margin-top: 32px;
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 72px;
    padding-right: 72px;
}

.browser-modal-link {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    margin: 0;
    margin-top: 26px;
}

.browser-modal-link:hover,
.browser-modal-link:focus {
    color: var(--special-red);
}

.browser-modal-link:active {
    color: var(--basic-black-active);
}

/* Modals */

.modal {
    display: none;
}

.modal-show {
    display: block;
}

/* Animations */

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

@keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
                transform: translateX(10px);
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
    }
    70% {
        -webkit-transform: translateX(30px);
                transform: translateX(30px);
    }
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
    }
    70% {
        -webkit-transform: translateX(30px);
                transform: translateX(30px);
    }
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

.modal-animation {
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
}

.modal-error {
    -webkit-animation-name: shake;
            animation-name: shake;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
}
